In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import WebDriverException,NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

# Scrape the details team India‚Äôs international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [10]:
driver.get('https://www.bcci.tv/')

In [11]:
Search_internl = driver.find_element(By.XPATH,'/html/body/div[5]/div/div[1]/div/ul/li[1]/a')
Search_internl.click()

In [20]:
viewall = driver.find_element(By.XPATH,'/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a')
viewall.click()

In [23]:
name,date,place,series,time = [],[],[],[],[]
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
    date.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
    place.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
    series.append(i.text)
for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
    time.append(i.text)

In [24]:
len(series),len(name),len(date),len(place),len(time)

(8, 8, 8, 8, 8)

In [25]:
bcci = pd.DataFrame({'Match title':series, 'Series':name, 'Place':place, 'Date':date, 'Time':time})
bcci

,Match title,Series,Place,Date,Time
0,2nd T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",29 DEC 2022,5:15 PM IST
1,3rd T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",31 DEC 2022,1:30 PM IST
2,4th T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",2 JAN 2023,5:15 PM IST
3,1st T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium,",3 JAN 2023,7:00 PM IST
4,5th T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",4 JAN 2023,1:30 PM IST
5,2nd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium,",5 JAN 2023,7:00 PM IST
6,3rd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium,",7 JAN 2023,7:00 PM IST
7,1st ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium,",10 JAN 2023,1:30 PM IST

In [26]:
driver.close()

# Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [27]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [28]:
driver.get('http://www.guru99.com/')

In [29]:
sel = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
sel.click()

In [30]:
for _ in range(65):
    driver.execute_script("window.scrollBy(0,65)")

In [31]:
tut = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
tut.click()

In [32]:
author = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/header/div/span[1]')
au = author.text.replace('\n',' ')

In [33]:
description = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div')
de = description.text.replace('\n',' ')

In [34]:
guru = pd.Series({'Author':au,'Description':de})
guru

Author                                         By Krishna Rungta
Description    What is an Exceptions? An exception is an erro...
dtype: object

In [35]:
driver.close()

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [36]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [37]:
driver.get('http://statisticstimes.com/')

In [38]:
eco = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
eco.click()

In [39]:
ind = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
new = ind.get_attribute('href')
new

'https://www.statisticstimes.com/economy/india-statistics.php'

In [40]:
driver.get(new)

In [41]:
try:
    ind_gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    gdp = ind_gdp.get_attribute('href')
    driver.get(gdp)
except WebDriverException:
    pass

In [42]:
for _ in range(45):
    driver.execute_script("window.scrollBy(0,45)")

In [43]:
try:
    name,gspd,share = [],[],[]
    for i in driver.find_elements(By.XPATH,'//td[@class="name"]'):
        name.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]'):
        gspd.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="data"]'):
        share.append(i.text.split(','))
except WebDriverException:
    pass

In [44]:
stats = pd.DataFrame({'Name':name[:34:],'GSPD':gspd[:34:],'Share':share[:34:]})
stats

                         Name       GSPD          Share
0                 Maharashtra  2,632,792            [-]
1                  Tamil Nadu  1,630,208       [13.94%]
2               Uttar Pradesh  1,584,764      [399.921]
3                     Gujarat  1,502,899            [-]
4                   Karnataka  1,493,127  [2, 039, 074]
5                 West Bengal  1,089,898  [1, 845, 853]
6                   Rajasthan    942,586        [8.63%]
7              Andhra Pradesh    862,957      [247.629]
8                   Telangana    861,031  [1, 312, 929]
9              Madhya Pradesh    809,592  [1, 215, 307]
10                     Kerala    781,653  [1, 687, 818]
11                      Delhi    774,870        [8.39%]
12                    Haryana    734,163      [240.726]
13                      Bihar    530,363  [1, 166, 817]
14                     Punjab    526,376  [1, 123, 982]
15                     Odisha    487,805            [-]
16                      Assam    315,881        [7.96%]
17               Chhattisgarh    304,063      [228.290]
18                  Jharkhand    297,204            [-]
19                Uttarakhand    245,895  [1, 186, 379]
20            Jammu & Kashmir    155,956  [1, 631, 977]
21           Himachal Pradesh    153,845        [7.91%]
22                        Goa     73,170      [226.806]
23                    Tripura     49,845  [1, 156, 039]
24                 Chandigarh     42,114  [1, 091, 077]
25                 Puducherry     34,433  [1, 253, 832]
26                  Meghalaya     33,481        [5.77%]
27                     Sikkim     28,723      [165.556]
28                    Manipur     27,870     [793, 223]
29                   Nagaland     27,283     [739, 525]
30          Arunachal Pradesh     24,603  [1, 020, 989]
31                    Mizoram     22,287        [4.99%]
32  Andaman & Nicobar Islands          -      [143.179]
33                      India  2,332,992     [711, 627]

In [ ]:
driver.close()

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [9]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [10]:
driver.get('https://github.com/trending')

In [13]:
gitrepo,description,language = [],[],[]
for i in driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]'):
    gitrepo.append(i.text)
for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    description.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]'):
    language.append(i.text)

In [14]:
len(repo),len(des),len(lan)

(25, 23, 21)

In [15]:
github = pd.DataFrame({'Repository title':gitrepo[0:21], 'Repository description':description[0:21], 'Language used':language[0:21]})
github

,Repository title,Repository description,Language used
0,LAION-AI / Open-Assistant,Reproduce DeFi hacked incidents using Foundry.,Python
1,SunWeb3Sec / DeFiHackLabs,API server for ChatGPT,Solidity
2,ChatGPT-Hackers / ChatGPT-API-server,"ü§ñ ChatGPT Desktop Application (Mac, Windows an...",Go
3,lencx / ChatGPT,A tutorial of building an LSM-Tree storage eng...,Rust
4,skyzh / mini-lsm,Ejercicios de c√≥digo semanales en 2023 de la c...,Rust
5,mouredev / retos-programacion-2023,Program to decode radio transmissions from dev...,C
6,merbanan / rtl_433,"A high-performance, zero-overhead, extensible ...",C++
7,exaloop / codon,Lightweight package for interacting with ChatG...,Python
8,acheong08 / ChatGPT,The Havoc Framework.,Go
9,HavocFramework / Havoc,üòé Awesome lists about all kinds of interesting...,Shell
10,sindresorhus / awesome,The open-source notification infrastructure fo...,TypeScript
11,dreamncn / ParallelsDesktopCrack,üìù Algorithms and data structures implemented i...,JavaScript
12,novuhq / novu,Master programming by recreating your favorite...,Python
13,trekhleb / javascript-algorithms,Learn how to design large-scale systems. Prep ...,Rust
14,codecrafters-io / build-your-own-x,This is the Rust course used by the Android te...,Rust
15,donnemartin / system-design-primer,A Python Interpreter written in Rust,Python
16,google / comprehensive-rust,"Master the command line, in one page",Go
17,RustPython / RustPython,Implementation of RLHF (Reinforcement Learning...,CSS
18,jlevy / the-art-of-command-line,Gin is a HTTP web framework written in Go (Gol...,Python
19,lucidrains / PaLM-rlhf-pytorch,"ÁªèÊµéÂ≠¶‰∫∫(Âê´Èü≥È¢ë)„ÄÅÁ∫ΩÁ∫¶ÂÆ¢„ÄÅÂç´Êä•„ÄÅËøûÁ∫ø„ÄÅÂ§ßË•øÊ¥ãÊúàÂàäÁ≠âËã±ËØ≠ÊùÇÂøóÂÖçË¥π‰∏ãËΩΩ,ÊîØÊåÅepub„ÄÅmobi...",TypeScript
20,gin-gonic / gin,üîé Hunt down social media accounts by username ...,Jupyter Notebook

In [16]:
driver.close()

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [86]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import WebDriverException,NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

In [87]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [88]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [89]:
driver.get('https:/www.billboard.com/')

In [ ]:
#clicking on charts
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a'))).click()

In [ ]:
#clicking on hot 100 songs page
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="main"]/div[2]/div/div[1]/a/div[2]/div[2]/div[1]'))).click()

In [92]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,200)")

In [112]:
#creating empty lists
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [117]:
#finding all the song tags
song = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-font-primary-medium-xs"]')
song[0:3]
#scraping song name from tags
for i in song:
    songs=i.text.replace("\n"," ")
    Song_name.append(songs)
Song_name
#finding all the artist tags
artist = driver.find_elements(By.XPATH,"//p[@class='c-tagline  a-font-primary-xs lrv-u-margin-a-00']")
artist[0:3]
#scraping song name from tags
for i in artist:
    artists=i.text.replace("\n"," ")
    Artist_name.append(artists)
Artist_name

['Mariah Carey', 'Brenda Lee', 'Bobby Helms', 'Burl Ives', 'Wham!']

In [120]:
#finding all the last week rank tags
rank = driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
rank

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=108.0.5359.125)
Stacktrace:
Backtrace:
	(No symbol) [0x003DF243]
	(No symbol) [0x00367FD1]
	(No symbol) [0x0025D04D]
	(No symbol) [0x00242D7A]
	(No symbol) [0x002ABE7B]
	(No symbol) [0x002BC196]
	(No symbol) [0x002A8386]
	(No symbol) [0x0028163C]
	(No symbol) [0x0028269D]
	GetHandleVerifier [0x00679A22+2655074]
	GetHandleVerifier [0x0066CA24+2601828]
	GetHandleVerifier [0x00488C0A+619850]
	GetHandleVerifier [0x00487830+614768]
	(No symbol) [0x003705FC]
	(No symbol) [0x00375968]
	(No symbol) [0x00375A55]
	(No symbol) [0x0038051B]
	BaseThreadInitThunk [0x75396939+25]
	RtlGetFullPathName_UEx [0x77308FD2+1218]
	RtlGetFullPathName_UEx [0x77308F9D+1165]

In [ ]:
c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max

In [ ]:
for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]'):
    name.append(i.text)

In [94]:
name,artist,lwr,pr,wob = [],[],[],[],[]
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span'):
    artist.append(i.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span'):
    lwr.append(i.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span'):
    pr.append(i.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span'):
    wob.append(i.text)

In [95]:
for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]'):
    artist.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]'):
    lwr.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]'):
    pr.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]'):
    wob.append(i.text)

In [98]:
#clicking on charts
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a'))).click()
try:
    top = driver.find_element(By.XPATH,'//svg[@class="c-icon  lrv-u-display-block lrv-u-width-24 lrv-u-height-24 lrv-u-color-brand-primary:hover"]')
    top.click()
except WebDriverException:
    pass

TimeoutException: Message:
Stacktrace:
Backtrace:
	(No symbol) [0x003DF243]
	(No symbol) [0x00367FD1]
	(No symbol) [0x0025D04D]
	(No symbol) [0x0028C0B0]
	(No symbol) [0x0028C22B]
	(No symbol) [0x002BE612]
	(No symbol) [0x002A85D4]
	(No symbol) [0x002BC9EB]
	(No symbol) [0x002A8386]
	(No symbol) [0x0028163C]
	(No symbol) [0x0028269D]
	GetHandleVerifier [0x00679A22+2655074]
	GetHandleVerifier [0x0066CA24+2601828]
	GetHandleVerifier [0x00488C0A+619850]
	GetHandleVerifier [0x00487830+614768]
	(No symbol) [0x003705FC]
	(No symbol) [0x00375968]
	(No symbol) [0x00375A55]
	(No symbol) [0x0038051B]
	BaseThreadInitThunk [0x75396939+25]
	RtlGetFullPathName_UEx [0x77308FD2+1218]
	RtlGetFullPathName_UEx [0x77308F9D+1165]

In [96]:
len(name),len(artist),len(lwr),len(pr)

(0, 0, 0, 0)

In [97]:
bill = pd.DataFrame({'Name':name[0:3],'Artist':artist[0:3],'Last Week Rank':lwr[0:3],'Peek Pos':pr[0:3]})
bill

Empty DataFrame
Columns: [Name, Artist, Last Week Rank, Peek Pos]
Index: []

In [ ]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
driver.get('https:/www.billboard.com/')

In [ ]:
driver.get('https://www.billboard.com/charts/hot-100/')

In [ ]:
try:
    top = driver.find_element(By.XPATH,'//svg[@class="c-icon  lrv-u-display-block lrv-u-width-24 lrv-u-height-24 lrv-u-color-brand-primary:hover"]')
    top.click()
except WebDriverException:
    pass

In [ ]:
c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only

In [ ]:
c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only
song name h3

In [ ]:
c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only
Artist-span

In [ ]:
o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max
last week-li

In [ ]:
for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    artist.append(i.text)
for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]'):
    lwr.append(i.text)
for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]'):
    pr.append(i.text)
for i in driver.find_elements(By.XPATH,'li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]'):
    wob.append(i.text)

# Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [121]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [122]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [123]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data science' + '\n')

In [124]:
name2,desi2,com2,skill2,city2 = [],[],[],[],[]
for i in driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]'):
    name2.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]'):
    desi2.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="vcard"]'):
    com2.append(i.text.split('\n')[2])
for i in driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]'):
    skill2.append(i.text)

In [125]:
for i in driver.find_elements(By.XPATH,'//small[@class="ellipsis"]'):
    try:
        city2.append(i.text)
    except NoSuchElementException:
        city2.append('-')

In [126]:
nauk = pd.DataFrame({'Name':name2[0:48], 'Designation':desi2[0:48], 'Company':com2[0:48], 'Skills':skill2[0:48], 'City':city2[0:48]})

In [127]:
nauk

,Name,Designation,Company,Skills,City
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
34,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

In [128]:
nauk.head()

,Name,Designation,Company,Skills,City
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)

In [129]:
driver.close()

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [130]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [131]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [132]:
for _ in range(40):
    driver.execute_script("window.scrollBy(0,40)")

In [133]:
bod = []
for i in driver.find_elements(By.XPATH,'//tbody'):
    bod.append(i.text.split('\n'))

In [134]:
bod

[['1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure',
  "2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction",
  "3 Harry Potter and the Philosopher's Stone Rowling, J.K. 4,200,654 Bloomsbury Children's Fiction",
  "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction",
  '5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas',
  "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction",
  "7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children's Fiction",
  "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction",
  '9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure',
  "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction",
  '11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas',
  '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction',
  '13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure',
  '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas',
  '15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure',
  '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction',
  '17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure',
  '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction',
  '19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction',
  '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction',
  '21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure',
  '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science',
  '23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure',
  '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction',
  '25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books',
  '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books',
  "27 Jamie's 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General",
  '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction',
  '29 One Day Nicholls, David 1,616,068 Hodder & Stoughton General & Literary Fiction',
  '30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction',
  "31 Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy Larsson, Stieg 1,555,135 Quercus Crime, Thriller & Adventure",
  "32 Time Traveler's Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction",
  '33 Atonement McEwan, Ian 1,539,428 Random House General & Literary Fiction',
  "34 Bridget Jones's Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction",
  '35 World According to Clarkson,The Clarkson, Jeremy 1,489,403 Penguin Humour: Collections & General',
  "36 Captain Corelli's Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction",
  '37 Sound of Laughter,The Kay, Peter 1,310,207 Random House Autobiography: General',
  '38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction',
  '39 Billy Connolly Stephenson, Pamela 1,231,957 HarperCollins Biography: The Arts',
  '40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General',
  "41 Gruffalo's Child,The Donaldson, Julia 1,208,711 Pan Macmillan Picture Books",
  "42 Angela's Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General",
  '43 Birdsong Faulks, Sebastian 1,184,967 Random House General & Literary Fiction',
  '44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction',
  '45 Labyrinth Mosse, Kate 1,181,093 Orion General & Literary Fiction',
  '46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy',
  '47 Help,The Stockett, Kathryn 1,132,336 Penguin General & Literary Fiction',
  '48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction',
  '49 Memoirs of a Geisha Golden, Arthur 1,126,337 Random House General & Literary Fiction',
  "50 No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure",
  '51 Island,The Hislop, Victoria 1,108,328 Headline General & Literary Fiction',
  '52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction',
  '53 You are What You Eat:The Plan That Will Change Your Life McKeith, Gillian 1,104,403 Penguin Fitness & Diet',
  '54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction',
  "55 Tales of Beedle the Bard,The Rowling, J.K. 1,090,847 Bloomsbury Children's Fiction",
  '56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure',
  "57 Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P Atkins, Robert C. 1,054,196 Random House Fitness & Diet",
  '58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction',
  '59 Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne 1,023,688 Profile Books Group Usage & Writing Guides',
  "60 Delia's How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General",
  '61 Chocolat Harris, Joanne 1,009,873 Transworld General & Literary Fiction',
  '62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction',
  "63 My Sister's Keeper Picoult, Jodi 1,003,780 Hodder & Stoughton General & Literary Fiction",
  '64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction',
  '65 To Kill a Mockingbird Lee, Harper 998,213 Random House General & Literary Fiction',
  '66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest',
  '67 Dear Fatty French, Dawn 986,753 Random House Autobiography: The Arts',
  '68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction',
  '69 Hannibal Harris, Thomas 970,509 Random House Crime, Thriller & Adventure',
  '70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy',
  '71 Stupid White Men:...and Other Sorry Excuses for the State of the Natio Moore, Michael 963,353 Penguin Current Affairs & Issues',
  '72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure',
  '73 Sharon Osbourne Extreme:My Autobiography Osbourne, Sharon 959,496 Little, Brown Book Autobiography: The Arts',
  '74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction',
  "75 At My Mother's Knee ...:and Other Low Joints O'Grady, Paul 945,640 Transworld Autobiography: The Arts",
  '76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing',
  '77 Return of the Naked Chef,The Oliver, Jamie 925,425 Penguin Food & Drink: General',
  '78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction',
  "79 Jamie's Italy Oliver, Jamie 906,968 Penguin National & Regional Cuisine",
  '80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet',
  '81 Down Under Bryson, Bill 890,847 Transworld Travel Writing',
  '82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure',
  '83 Small Island Levy, Andrea 869,659 Headline General & Literary Fiction',
  '84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General',
  '85 Brick Lane Ali, Monica 856,540 Transworld General & Literary Fiction',
  "86 Memory Keeper's Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction",
  '87 Room on the Broom Donaldson, Julia 842,535 Pan Macmillan Picture Books',
  '88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction',
  '89 My Booky Wook Brand, Russell 820,563 Hodder & Stoughton Autobiography: The Arts',
  '90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science',
  '91 "Beano" Annual,The 0 816,585 D.C. Thomson Children\'s Annuals',
  '92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction',
  '93 House at Riverton,The Morton, Kate 814,370 Pan Macmillan General & Literary Fiction',
  '94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction',
  '95 Nights of Rain and Stars Binchy, Maeve 808,900 Orion General & Literary Fiction',
  '96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction',
  '97 Happy Days with the Naked Chef Oliver, Jamie 794,201 Penguin Food & Drink: General',
  '98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction',
  "99 Lost Boy,The:A Foster Child's Search for the Love of a Family Pelzer, Dave 791,507 Orion Biography: General",
  "100 Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General"]]

In [135]:
driver.close()

In [136]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [137]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [146]:
#creating empty lists

Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [173]:
#finding all the genre tags
genre = driver.find_elements(By.XPATH,"//td[@class='last left']")
for i in genre:
    genres=i.text.replace("\n"," ")
    Genre.append(genres)
Genre
#finding all the book_name tags
book = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[2]')
#scraping book_name from tags
Book_name_=[]
for i in book:
    books=i.text.replace("\n"," ")
    Book_name_.append(books)
Book_name_
author = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[3]')
for i in author:
    authors=i.text.replace("\n"," ")
    Author_name.append(authors)
Author_name
volume = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[4]')
#scraping volumes_sold from tags
for i in volume:
    volumes=i.text.replace("\n"," ")
    Volumes_sold.append(volumes)
Volumes_sold
publisher = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[5]')
for i in publisher:
    publishers=i.text.replace("\n"," ")
    Publisher.append(publishers)
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin',
 'Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin',
 'Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [170]:
#creating a dataframe

Novel=pd.DataFrame({})
Novel['Book_name']=Book_name_[0:100]
Novel['Author_name']=Author_name[0:100]
Novel['Volumes_sold']=Volumes_sold[0:100]
Novel['Publisher']=Publisher[0:100]
Novel['Genre']=Genre[0:100]

In [171]:
#printing lenghts
print(len(Book_name_),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 200 200 200 300

In [172]:
Novel

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [149]:
for i in genre:
    genres=i.text.replace("\n"," ")
    Genre.append(genres)
Genre
#finding all the book_name tags
book = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[2]')

In [154]:
#scraping book_name from tags
Book_name_=[]
for i in book:
    books=i.text.replace("\n"," ")
    Book_name_.append(books)
Book_name_

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [155]:
author = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[3]')

In [156]:
for i in author:
    authors=i.text.replace("\n"," ")
    Author_name.append(authors)
Author_name

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [158]:
volume = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[4]')

In [159]:
#scraping volumes_sold from tags
for i in volume:
    volumes=i.text.replace("\n"," ")
    Volumes_sold.append(volumes)
Volumes_sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [161]:
publisher = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[5]')

In [162]:
for i in publisher:
    publishers=i.text.replace("\n"," ")
    Publisher.append(publishers)
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [163]:
#printing lenghts
print(len(Book_name_),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 200

In [164]:
#creating a dataframe

Novel=pd.DataFrame({})
Novel['Book_name']=Book_name_
Novel['Author_name']=Author_name
Novel['Volumes_sold']=Volumes_sold
Novel['Publisher']=Publisher
Novel['Genre']=Genre[0:100]

In [165]:
Novel

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [174]:
driver.close()

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import WebDriverException,NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get(' https://www.imdb.com/list/ls095964455/ ')

In [4]:
#creating empty lists
Name=[]
Year_span=[]
Genre=[]
Runtime=[]
Ratings=[]
Votes=[]

In [5]:
name = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div[3]/div[3]/div/div[2]/h3/a')
name[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="476284cd472013f22a628136cb2be3a7", element="7b6be7cb-1f94-486e-af35-d98516485384")>,
 <selenium.webdriver.remote.webelement.WebElement (session="476284cd472013f22a628136cb2be3a7", element="0516d770-2f70-4669-a3b3-f33d6c5d2607")>,
 <selenium.webdriver.remote.webelement.WebElement (session="476284cd472013f22a628136cb2be3a7", element="835e2a02-b6b5-40a5-8210-41090aae950c")>]

In [15]:
#scraping name from tags
for i in name:
    names=i.text.replace("\n"," ")
    Name.append(names)
Name

#finding all the year span tags
year = driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
year[0:3]

#scraping year span from tags
for i in year:
    years=i.text.replace("\n"," ")
    Year_span.append(years)
Year_span
#finding all the genre tags
genre = driver.find_elements(By.XPATH,"//span[@class='genre']")
genre[0:3]

#scraping genre from tags
for i in genre:
    genres=i.text.replace("\n"," ")
    Genre.append(genres)
Genre

#finding all the runtime tags
runtime = driver.find_elements(By.XPATH,"//span[@class='runtime']")
runtime[0:3]

#scraping runtime from tags
for i in runtime:
    runtimes=i.text.replace("\n"," ")
    Runtime.append(runtimes)
Runtime

#finding all the ratings tags
rating = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]')
rating[0:3]
#scraping runtime from tags
Ratings=[]
for i in rating:
    ratings=i.text.replace("\n"," ")
    Ratings.append(ratings)
Ratings

#finding all the vote tags
vote = driver.find_elements(By.XPATH,"//span[@name='nv']")
vote[0:3]

#scraping runtime from tags
for i in vote:
    votes=i.text.replace("\n"," ")
    Votes.append(votes)
Votes

['2,099,111',
 '1,189,311',
 '993,689',
 '294,063',
 '253,196',
 '303,788',
 '145,979',
 '310,577',
 '347,152',
 '432,669',
 '478,502',
 '810,083',
 '548,940',
 '927,715',
 '533,911',
 '168,521',
 '323,414',
 '320,938',
 '1,884,771',
 '326,080',
 '447,412',
 '537,231',
 '152,900',
 '149,665',
 '408,804',
 '225,988',
 '423,801',
 '442,237',
 '997,390',
 '685,385',
 '412,524',
 '389,036',
 '137,136',
 '124,688',
 '176,119',
 '155,374',
 '231,433',
 '506,700',
 '215,726',
 '432,688',
 '525,202',
 '64,438',
 '192,447',
 '505,779',
 '390,296',
 '80,443',
 '283,067',
 '244,494',
 '226,051',
 '217,987',
 '243,182',
 '726,949',
 '130,952',
 '341,575',
 '250,888',
 '555,134',
 '551,214',
 '466,639',
 '61,361',
 '111,787',
 '342,933',
 '74,612',
 '105,496',
 '239,285',
 '96,402',
 '96,252',
 '51,471',
 '149,343',
 '370,740',
 '318,255',
 '107,243',
 '249,695',
 '572,904',
 '105,843',
 '129,994',
 '531,356',
 '109,076',
 '237,699',
 '90,214',
 '22,984',
 '145,085',
 '161,962',
 '132,171',
 '37,811',
 '290,692',
 '120,670',
 '132,221',
 '74,544',
 '108,884',
 '200,809',
 '29,289',
 '186,312',
 '220,383',
 '753,402',
 '68,967',
 '50,355',
 '61,936',
 '199,786',
 '41,699',
 '246,781']

In [16]:
#printing lenghts
print(len(Name),len(Year_span),len(Genre),len(Runtime),len(Ratings),len(Votes))

1000 900 700 500 100 100

In [17]:
#creating a dataframe

Series=pd.DataFrame({})
Series['Name']=Name[0:100]
Series['Year_span']=Year_span[0:100]
Series['Genre']=Genre[0:100]
Series['Runtime']=Runtime[0:100]
Series['Ratings']=Ratings[0:100]
Series['Votes']=Votes[0:100]

In [18]:
Series

,Name,Year_span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,099,111"
1,Stranger Things,(2016‚Äì ),"Drama, Fantasy, Horror",51 min,8.7,"1,189,311"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"993,689"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"294,063"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,196"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4,"50,355"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"61,936"
97,Criminal Minds,(2005‚Äì ),"Crime, Drama, Mystery",42 min,8.1,"199,786"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,"41,699"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"246,781"

In [19]:
driver.close()

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [20]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [21]:
driver.get('https://archive.ics.uci.edu/')

In [22]:
#creating empty lists

Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [29]:
#getting the list of url of Datasets
Dataset_URL=[]


dataset=driver.find_elements(By.XPATH,'/html/body/table[3]/tbody/tr/td/table/tbody/tr/td[2]/table/tbody/tr/td[2]/span')
for i in dataset:
    dataset1=i.find_element(By.TAG_NAME,"a")
    Dataset_URL.append(dataset1.get_attribute('href'))
Dataset_URL

['https://archive.ics.uci.edu/ml/datasets/Average+Localization+Error+%28ALE%29+in+sensor+node+localization+process+in+WSNs',
 'https://archive.ics.uci.edu/ml/datasets/9mers+from+cullpdb',
 'https://archive.ics.uci.edu/ml/datasets/TamilSentiMix',
 'https://archive.ics.uci.edu/ml/datasets/Accelerometer',
 'https://archive.ics.uci.edu/ml/datasets/Synchronous+Machine+Data+Set',
 'https://archive.ics.uci.edu/ml/datasets/Synchronous+Machine+Data+Set',
 'https://archive.ics.uci.edu/ml/datasets/Pedal+Me+Bicycle+Deliveries',
 'https://archive.ics.uci.edu/ml/datasets/Wikipedia+Math+Essentials',
 'https://archive.ics.uci.edu/ml/datasets/Wikipedia+Math+Essentials',
 'https://archive.ics.uci.edu/ml/datasets/Turkish+Headlines+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Secondary+Mushroom+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city',
 'https://archive.ics.uci.edu/ml/datasets/Iris',
 'https://archive.ics.uci.edu/ml/datasets/Adult',
 'https://archive.ics.uci.edu/ml/datasets/Dry+Bean+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Wine',
 'https://archive.ics.uci.edu/ml/datasets/Heart+Disease',
 'https://archive.ics.uci.edu/ml/datasets/Wine+Quality',
 'https://archive.ics.uci.edu/ml/datasets/Rice+%28Cammeo+and+Osmancik%29',
 'https://archive.ics.uci.edu/ml/datasets/Bank+Marketing',
 'https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29',
 'https://archive.ics.uci.edu/ml/datasets/Car+Evaluation',
 'https://archive.ics.uci.edu/ml/datasets/Raisin+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Abalone']

In [30]:
len(Dataset_URL)

24

In [31]:
#going to the url of first page through our driver
driver.get(Dataset_URL[0])

In [32]:
from tqdm import tqdm
for i in tqdm(Dataset_URL):
    driver.get(i)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 24/24 [00:16<00:00,  1.50it/s]

In [40]:
    try:
        name=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(1) > tbody > tr > td:nth-child(1) > p:nth-child(1) > span.heading > b').text
        Dataset_name.append(name)
    except NoSuchElementException:
        Dataset_name.append("-")
    try:
        datatype=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(1) > td:nth-child(2) > p').text
        Data_type.append(datatype)
    except NoSuchElementException:
        Data_type.append("-")
    try:
        task=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(3) > td:nth-child(2) > p').text
        Task.append(task)
    except NoSuchElementException:
        Task.append("-")
        
    try:
        attribute=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(2) > td:nth-child(2) > p').text
        Attribute_type.append(attribute)
    except NoSuchElementException:
        Attribute_type.append("-")
        
    try:
        instances=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(1) > td:nth-child(4) > p').text
        No_of_instances.append(instances)
    except NoSuchElementException:
        No_of_instances.append("-")
        
    try:
        Attribute=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(2) > td:nth-child(4) > p').text
        No_of_attribute.append(Attribute)
    except NoSuchElementException:
        No_of_attribute.append("-")
        
    try:
        year=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(2) > td:nth-child(6) > p').text
        Year.append(year)
    except NoSuchElementException:
        Year.append("-")

In [ ]:
try:
        name=driver.find_elements(By.XPATH,'//span[@class="heading"]').text
        Dataset_name.append(name)
    except NoSuchElementException:
        Dataset_name.append("-")
    try:
        datatype=driver.find_element(By.CSS_SELECTOR,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[1]/p/b').text
        Data_type.append(datatype)
    except NoSuchElementException:
        Data_type.append("-")
    try:
        task=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(3) > td:nth-child(2) > p').text
        Task.append(task)
    except NoSuchElementException:
        Task.append("-")
        
    try:
        attribute=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(2) > td:nth-child(2) > p').text
        Attribute_type.append(attribute)
    except NoSuchElementException:
        Attribute_type.append("-")
        
    try:
        instances=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(1) > td:nth-child(4) > p').text
        No_of_instances.append(instances)
    except NoSuchElementException:
        No_of_instances.append("-")
        
    try:
        Attribute=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(2) > td:nth-child(4) > p').text
        No_of_attribute.append(Attribute)
    except NoSuchElementException:
        No_of_attribute.append("-")
        
    try:
        year=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(2) > td:nth-child(6) > p').text
        Year.append(year)
    except NoSuchElementException:
        Year.append("-")

In [41]:
Dataset_name

['-', '-']

In [39]:
    try:
        name=driver.find_element(By.CSS_SELECTOR,'body > table:nth-child(3) > tbody > tr > td > table:nth-child(1) > tbody > tr > td:nth-child(1) > p:nth-child(1) > span.heading > b').text
        Dataset_name.append(name)
    except NoSuchElementException:
        Dataset_name.append("-")

In [42]:
Data_type

['-']

In [43]:
Task

['-']

In [44]:
#printing lenghts
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year))

2 1 1 1 1 1 1

In [ ]:
#creating a dataframe

uci=pd.DataFrame({})
uci['Dataset_name']=Dataset_name
uci['Data_type']=Data_type
uci['Task']=Task
uci['Attribute_type']=Attribute_type
uci['No_of_instances']=No_of_instances
uci['No_of_attribute']=No_of_attribute
uci['Year']=Year

In [46]:
#going to the url of first page through our driver
driver.get(Dataset_URL[0])

In [50]:
    try:
        name=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[1]/tbody/tr/td[1]/p[1]/span[1]')
        Dataset_name.append(name)
    except NoSuchElementException:
        Dataset_name.append("-")

In [51]:
 Dataset_name

['-',
 '-',
 [<selenium.webdriver.remote.webelement.WebElement (session="adcf14375abb0788958d66ccd13d5959", element="be82ba42-b7e1-424e-abf5-d93d69a5fb4d")>],
 <selenium.webdriver.remote.webelement.WebElement (session="adcf14375abb0788958d66ccd13d5959", element="be82ba42-b7e1-424e-abf5-d93d69a5fb4d")>]

In [52]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [53]:
#opening the webpage through our driver
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [54]:
#creating empty lists
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [55]:
#finding all the rank tags
rank = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[1]')[0:30]
rank[0:3]

In [56]:
#scraping rank from rank tags
for i in rank:
    ranks=i.text.replace("\n"," ")
    Rank.append(ranks)
Rank

['']