In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user4\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\user4\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user4\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user4\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\user4\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sniffio in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: sortedcontainers in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\user4\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\user4\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user4\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user4\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Download the webdriver with link https://chromedriver.chromium.org/downloads

In [3]:
# lets first connect to the driver....methos-1
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
#method-2 to connect is go to jupiter notebook homepage upload the package by clicking on upload icon
driver=webdriver.Chrome(r"chromedriver.exe")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [6]:
# openig the naukari page on automated chrome browser
driver.get('https://www.naukri.com/')

In [7]:
# entering designation and loaction as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [8]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [10]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [19]:
job_title=[]
job_location=[]
company_name=[]
Experience_required=[]

#scraping job title from given wabpage
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from given wabpage

location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping job company name from given wabpage
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping experience required from given wabpage
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    Experience_required.append(experience)

In [20]:
print(len(job_title), len(job_location),len(company_name),len(Experience_required))

10 10 10 10

In [24]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'Experience_required':Experience_required})
df

,job_title,job_location,company_name,Experience_required
0,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
2,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
3,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
4,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
5,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,1-12 Yrs
6,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs
7,Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-7 Yrs
8,Sr Data Analyst - Tableau,Bangalore/Bengaluru,S.A.W IT Services Pvt Ltd,2-5 Yrs
9,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [29]:
# entering designation and loaction as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [ ]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [ ]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [33]:
job_title=[]
job_location=[]
company_name=[]
Experience_required=[]

#scraping job title from given wabpage
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from given wabpage

location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping job company name from given wabpage
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping experience required from given wabpage
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    Experience_required.append(experience)

In [34]:
print(len(job_title), len(job_location),len(company_name),len(Experience_required))

10 10 10 10

In [35]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'Experience_required':Experience_required})
df

,job_title,job_location,company_name,Experience_required
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc,4-8 Yrs
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra,5-8 Yrs
3,Data Scientist / AI-ML Engineer,Bangalore/Bengaluru,Hitachi Ltd.,3-7 Yrs
4,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS,3-4 Yrs
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture,2-6 Yrs
6,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree,5-10 Yrs
7,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo,3-6 Yrs
8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,6-8 Yrs
9,Data Science - Engineering Manager,"Bangalore/Bengaluru, New Delhi",Paytm,3-5 Yrs

# Q3 # Scrape data using the filters available on the webpage:“Data Scientist”,scrape the job-title, job-location, company name, experience required.location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [39]:
# entering designation and loaction as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [44]:
job_title=[]
job_location=[]
company_name=[]
Experience_required=[]

#scraping job title from given wabpage
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from given wabpage

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping job company name from given wabpage
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping experience required from given wabpage
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    Experience_required.append(experience)

In [45]:
print(len(job_title), len(job_location),len(company_name),len(Experience_required))

10 10 10 10

In [46]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'Experience_required':Experience_required})
df

,job_title,job_location,company_name,Experience_required
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs
3,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
4,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
7,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
8,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
9,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:Brand, ProductDescription
Price

In [48]:
# lets first connect to the driver....methos-1
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [49]:
#Getting the website to driver
driver.get('https://www.flipkart.com/')

In [54]:
Search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
Search.click()

In [63]:
#creating the empty lists
Product_Brand=[]
Product_Description=[]
Product_Price=[]
Product_Discount=[]

In [71]:
# scrapping the brand of sunglasses 
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:40]:
    brand=i.text
    Product_Brand.append(brand)
#scraping product description from given wabpage

product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags[0:40]:
    product=i.text
    Product_Description.append(product)    
#scraping price from given wabpage      
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:40]:
    price=i.text
    Product_Price.append(price)    
#scraping discount from given wabpage  
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:10]:
    discount=i.text
    Product_Discount.append(discount)

In [72]:
print(len(Product_Brand),len(Product_Description),len(Product_Price),len(Product_Discount))

40 40 40 10

In [79]:
# scrapping the brand of sunglasses 
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=i.text
    Product_Brand.append(brand)

#scraping product description from given wabpage

product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags[0:100]:
    product=i.text
    Product_Description.append(product)

#scraping price from given wabpage      
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    Product_Price.append(price)

#scraping discount from given wabpage  
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    Product_Discount.append(discount)

In [80]:
print(len(Product_Brand),len(Product_Description),len(Product_Price),len(Product_Discount))

160 160 160 130

In [81]:
df=pd.DataFrame({'Product_Brand':Product_Brand[0:100],'Product_Description': Product_Description[0:100],'Product_Price':Product_Price[0:100],'Product_Discount':Product_Discount[0:100]})
df

,Product_Brand,Product_Description,Product_Price,Product_Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹849,57% off
1,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹278,81% off
2,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹129,87% off
3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
4,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹129,87% off
...,...,...,...,...
95,Elligator,UV Protection Round Sunglasses (54),₹286,85% off
96,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749,90% off
97,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949,75% off
98,LIZA ANGEL,"UV Protection, Polarized Rectangular Sunglasse...",₹129,87% off
99,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹539,85% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

In [82]:
# lets first connect to the driver....methos-1
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [83]:
#Getting the website to driver
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [84]:
Search=driver.find_element(By.CLASS_NAME,"_34RNph")
Search.click()

In [86]:
#creating empty lists
Product_Rating=[]
Review_Summary=[]
Full_Review=[]

In [123]:
# scrapping rating of the product
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Product_Rating.append(rating)
    
# scrapping review summary of the product    
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags[0:100]:
    review=i.text
    Review_Summary.append(review)

# scrapping full review of the product  
fullreview_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in fullreview_tags[0:100]:
    fullreview=i.text
    Full_Review.append(fullreview)
    
#Nevigating to the next page
next_page=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
next_page.click()

In [124]:
print(len(Product_Rating),len(Review_Summary),len(Full_Review))

170 160 150

In [126]:
df=pd.DataFrame({'Product_Rating':Product_Rating[31:131],'Review_Summary': Review_Summary[31:131],'Full_Review':Full_Review[31:131]})
df

,Product_Rating,Review_Summary,Full_Review
0,5,Perfect product!,Best and amazing product.....phone looks so pr...
1,5,Best in the market!,"i11 is worthy to buy, too much happy with the ..."
2,4,Value-for-money,It’s a must buy who is looking for an upgrade ...
3,5,Worth every penny,So far it’s been an AMAZING experience coming ...
4,5,Highly recommended,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Highly recommended,What a camera .....just awesome ..you can feel...
96,5,Highly recommended,Value for money\n5 star rating\nExcellent came...
97,4,Perfect product!,I was using Iphone 6s and also Oneplus 6t. Bot...
98,5,Highly recommended,Amazing Powerful and Durable Gadget.\n\nI’m am...
99,5,Simply awesome,This is my first iOS phone. I am very happy wi...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [127]:
# lets first connect to the driver....methos-1
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [128]:
#Getting the website to driver
driver.get('https://www.flipkart.com/')

In [129]:
Search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
Search.click()

In [132]:
#creating the empty lists
Sneaker_Brand=[]
Sneaker_Description=[]
Sneaker_Price=[]
Sneaker_Discount=[]

In [144]:
# scrapping the brand of sneaker
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:40]:
    brand=i.text
    Sneaker_Brand.append(brand)
#scraping product description from given wabpage

product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags[0:40]:
    product=i.text
    Sneaker_Description.append(product)    
#scraping sneaker price from given wabpage      
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:40]:
    price=i.text
    Sneaker_Price.append(price)    
#scraping discount from given wabpage  
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:40]:
    discount=i.text
    Sneaker_Discount.append(discount)

In [139]:
#Nevigating to the next page
next_page=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
next_page.click()

In [145]:
print(len(Sneaker_Brand),len(Sneaker_Description),len(Sneaker_Price),len(Sneaker_Discount))

200 186 200 110

In [146]:
df=pd.DataFrame({'Sneaker_Brand':Sneaker_Brand[0:100],'Sneaker_Description':Sneaker_Description[0:100],'Sneaker_Price':Sneaker_Price[0:100],'Sneaker_Discount':Sneaker_Discount[0:100]})
df

,Sneaker_Brand,Sneaker_Description,Sneaker_Price,Sneaker_Discount
0,RED CHIEF,RC3522 107 Sneakers For Men,"₹2,294",55% off
1,RED CHIEF,RC3483 022 Sneakers For Men,"₹2,067",55% off
2,Labbin,Sneakers For Men,₹399,60% off
3,Shozie,Sneakers For Men,₹295,70% off
4,Kzaara,Sneakers For Men,₹229,77% off
...,...,...,...,...
95,RapidBox,SM-671 Sneakers For Men,₹580,45% off
96,ASTEROID,"Outdoor Trendy Lightweight Casual,Canvas Styli...",₹499,75% off
97,Robbie jones,Sneakers For Men,₹459,52% off
98,Deals4you,Caven Mid Sneakers For Men,₹489,80% off
99,RED CHIEF,Perfect Stylish Casual Shoes For Girls & Women...,"₹2,294",50% off

# Q7: Scrap the data of laptop from amazon.com

In [102]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user4\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\user4\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user4\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user4\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\user4\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: sniffio in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\user4\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\user4\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\user4\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user4\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user4\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [103]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [104]:
# lets first connect to the driver....methos-1
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [105]:
#Getting the website to driver
driver.get('https://www.amazon.in/')

In [ ]:
Search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span")
Search.click()

In [ ]:
#creating the empty lists
Laptop_title=[]
Laptop_rating=[]
Laptop_Price=[]

In [131]:
# scrapping the brand of laptop
laptop_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptop_tags[0:10]:
    title=i.text
    Laptop_title.append(title)

#scraping laptop rating from given wabpagea-size-medium a-color-base a-text-normal

product_ratings=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in product_ratings[0:10]:
    ratings=i.text
    Laptop_rating.append(ratings)  

#scraping laptop price from given wabpage      
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    laptopprice=i.text
    Laptop_Price.append(laptopprice)

In [132]:
print(len(Laptop_title),len(Laptop_rating),len(Laptop_Price))

320 21 400

In [134]:
df=pd.DataFrame({'Laptop_title':Laptop_title[0:20],'Laptop_rating':Laptop_rating[0:20],'Laptop_Price':Laptop_Price[0:20]})
df

,Laptop_title,Laptop_rating,Laptop_Price
0,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,,"82,490"
1,Acer Swift 5 Intel Evo Premium 14 Inches Full ...,,"1,05,385"
2,(Renewed) HP ProBook 430 G3 6th Gen Intel Core...,,"24,939"
3,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",,"95,546"
4,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,,"89,000"
5,Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...,,
6,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,,
7,"ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...",,
8,"ASUS Zenbook 14 OLED (2022), 14"" (35.56 cms) 2...",,
9,Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...,,
10,Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...,,
11,Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....,,
12,"ASUS ZenBook Duo 14 (2021) Dual Screen Laptop,...",,
13,Lenovo ThinkPad P14s Mobile Workstation 11th G...,,"82,990"
14,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",,"82,490"
15,(Renewed) Dell Precision Workstation Laptop M2...,,"1,49,900"
16,(Renewed) HP ProBook 430 G3 6th Gen Intel Core...,,"1,02,000"
17,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",,"79,990"
18,"ASUS TUF Gaming F15 (2022), 15.6""(39.62 cms) F...",,"1,02,038"
19,"GIGABYTE AORUS 5 SE4, 15.6” inch FHD 240Hz, In...",,"91,490"

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [64]:
# lets first connect to the driver....methos-1
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [65]:
# openig the naukari page on automated chrome browser
driver.get('https://www.azquotes.com/')

In [66]:
Search=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[1]")
Search.click()

In [74]:
Quote_title=[]
Author_Name=[]
Type_quote=[]
#scraping Quote title from given wabpage
title_quote=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in title_quote[0:10]:
    title=i.text
    Quote_title.append(title)
#scraping author name from given wabpage

name_author=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in name_author[0:10]:
    author=i.text
    Author_Name.append(author)    
 #scraping type of quote from given wabpage
quote_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in quote_tags[0:10]:
    typequote=i.text
    Type_quote.append(typequote)

In [ ]:
Quote_title=[]
Author_Name=[]
Type_quote=[]

#scraping Quote title from given wabpage
title_quote=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in title_quote[0:10]:
    title=i.text
    Quote_title.append(title)
    
#scraping author name from given wabpage

name_author=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in name_author[0:10]:
    author=i.text
    Author_Name.append(author)
    
#scraping type of quote from given wabpage
quote_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in quote_tags[0:10]:
    typequote=i.text
    Type_quote.append(typequote)

In [75]:
print(len(Quote_title),len(Author_Name),len(Type_quote))

10 10 10

In [76]:
df=pd.DataFrame({'Quote_title':Quote_title,'Author_Name':Author_Name,'Type_quote':Type_quote})
df

,Quote_title,Author_Name,Type_quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
5,Be more concerned with your character than you...,John Wooden,"Inspirational, Success, Basketball"
6,Weak people revenge. Strong people forgive. In...,Albert Einstein,"Strong, Revenge, Intelligent"
7,A mind is like a parachute. It doesn't work if...,Frank Zappa,"Inspirational, Teacher, Religious"
8,Never be afraid to raise your voice for honest...,William Faulkner,"Truth, Honesty, Lying"
9,There are three kinds of men. The one that lea...,Will Rogers,"Funny, Reading, Learning"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.

In [77]:
# lets first connect to the driver....methos-1
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [78]:
# openig the naukari page on automated chrome browser
driver.get(' https://www.jagranjosh.com/.')

In [80]:
Search=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[1]")
Search.click()

In [79]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument('--incognito')

In [ ]:
PM_Name=[]
Born_dead=[]
Term_office=[]
Remarks=[]

#scraping Name od Prime minister from given wabpage
prime_name=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in prime_name[0:10]:
    name=i.text
    PM_Name.append(name)
    
#scraping Born or dead from given wabpage

prime_bord=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in prime_bord[0:10]:
    pmbord=i.text
    Born_dead.append(pmbord)
    
#scraping term of office from given wabpage
termof_office=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in termof_office[0:10]:
    officeterm=i.text
    Term_office.append(officeterm)

#scraping remark from given wabpage
pm_remark=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in pm_remark[0:10]:
    pmremark=i.text
    Remarks.append(pmremark)

In [ ]:
print(len(PM_Name),len(Born_dead),len(Term_office),len(Remarks)

In [ ]:
df=pd.DataFrame({'PM_Name':PM_Name,'Born_dead':Born_dead,'Term_office':Term_office,'Remarks':Remarks})
df

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name ,Description and Price) from https://www.motor1.com/

In [135]:
# lets first connect to the driver....methos-1
driver=webdriver.Chrome(r"C:\Users\User4\Downloads\chromedriver_win32\chromedriver.exe")

In [136]:
# openig the naukari page on automated chrome browser
driver.get('https://www.motor1.com/')

In [ ]:
Search=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[1]")
Search.click()

In [ ]:
Car_Name=[]
Car_description=[]
Car_price=[]

#scraping Car names from given wabpage
car_name=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in car_name[0:10]:
    name=i.text
    Car_Name.append(name)
    
#scraping car description from given wabpage

description_car=driver.find_elements(By.XPATH,"//p[@class='subheader']")
for i in description_car[0:10]:
    description=i.text
    Car_description.append(description)
    
#scraping car price from given wabpage
price_car=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in price_car[0:10]:
    carprice=i.text
    Car_price.append(carprice)

In [ ]:
https://www.youtube.com/watch?v=DUdvSxoaPlk

In [141]:
Car_Name=[]
Car_description=[]
Car_price=[]

#scraping Car names from given wabpage
car_name=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in car_name[0:10]:
    name=i.text
    Car_Name.append(name)
description_car=driver.find_elements(By.XPATH,"//div[@class='m1_MobileMPU adgrid-ad-target']")
for i in description_car[0:10]:
    description=i.text
    Car_description.append(description)
#scraping car price from given wabpage
price_car=driver.find_elements(By.XPATH,"//strong[@class='subheader']")
for i in price_car[0:10]:
    carprice=i.text
    Car_price.append(carprice)

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=108.0.5359.99)
Stacktrace:
Backtrace:
	(No symbol) [0x0098F243]
	(No symbol) [0x00917FD1]
	(No symbol) [0x0080D04D]
	(No symbol) [0x007F2D7A]
	(No symbol) [0x0085BE7B]
	(No symbol) [0x0086C196]
	(No symbol) [0x00858386]
	(No symbol) [0x0083163C]
	(No symbol) [0x0083269D]
	GetHandleVerifier [0x00C29A22+2655074]
	GetHandleVerifier [0x00C1CA24+2601828]
	GetHandleVerifier [0x00A38C0A+619850]
	GetHandleVerifier [0x00A37830+614768]
	(No symbol) [0x009205FC]
	(No symbol) [0x00925968]
	(No symbol) [0x00925A55]
	(No symbol) [0x0093051B]
	BaseThreadInitThunk [0x75396939+25]
	RtlGetFullPathName_UEx [0x77308FD2+1218]
	RtlGetFullPathName_UEx [0x77308F9D+1165]

In [142]:
print(len(Car_Name),len(Car_description),len(Car_price))

0 0 0

In [139]:
df=pd.DataFrame({'Car_Name':Car_Name,' Car_description': Car_description})
df

             Car_Name  Car_description
0           Drako GTE
1       De Tomaso P72
2   Ferrari LaFerrari
3       Pagani Huayra
4        McLaren Elva
5         Czinger 21C
6       Ferrari Monza
7  Gordon Murray T.33
8   Koenigsegg Gemera
9         Zenvo TSR-S